In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
x = 1

def suma(x):
    x = x + 1
    return x

suma(6)

def resta(x):
    x = x - 1
    if x == 3:
        return 5
    if x == 4:
        x = x - 1
        return x
    return x

In [ ]:
x = 1
y = 2
z = "word"
w = False
y = 1.1

print(z)

word

In [ ]:
data = [2, 3, 4, 5, 6, 10] # 0,1,2, 3,4,5
print(data)

data.append(8)
print(data)

data.sort()
print(data)

data[1]

data_1 = [1, 2, 3]
data_2 = [7, 8, 9]
data_1.extend(data_2)
print(data_1)

data = {}
data = {
    "id": 1,
    "name": "cristhian",
    "dev": "python"
}

data = [{
    "id": 1,
    "name": "cristhian",
    "dev": "python"
}, {
    "id": 2,
    "name": "cristhian",
    "dev": "python"
}, {
    "id": 3,
    "name": "cristhian",
    "dev": "python"
}]
print(data)

for x in data:
    print(x)
    print(x["dev"])

[2, 3, 4, 5, 6, 10]
[2, 3, 4, 5, 6, 10, 8]
[2, 3, 4, 5, 6, 8, 10]
[1, 2, 3, 7, 8, 9]
[{'id': 1, 'name': 'cristhian', 'dev': 'python'}, {'id': 2, 'name': 'cristhian', 'dev': 'python'}, {'id': 3, 'name': 'cristhian', 'dev': 'python'}]
{'id': 1, 'name': 'cristhian', 'dev': 'python'}
python
{'id': 2, 'name': 'cristhian', 'dev': 'python'}
python
{'id': 3, 'name': 'cristhian', 'dev': 'python'}
python

In [ ]:
print(11 / 4)
print(11 // 4)
print(11 % 4)
print(7 ** 2)
print( ( (1+2) * (2+1)  ) ** 2 )
print(1 == True)
print(0 == False)

2.75
2
3
49
81
True
True

In [ ]:
data = 6

if data == 5:
    print("data is equal to 5")
elif data >= 1:
    print("data is more than 1")
else:
    print("data is not in range")

data is more than 1

In [ ]:
data_1 = "cristhian"
data_2 = 35
print("mi nombre es {} y mi profesión es {}".format(data_1, data_2))
print("mi nombre es {0} y mi profesión es {1}".format(data_1, data_2))
print("mi nombre es {name} y mi profesión es {profession}".format(name=data_1, profession=data_2))

data = [{
    "id": 1,
    "name": "cristhian",
    "dev": "python"
}, {
    "id": 2,
    "name": "cristhian",
    "dev": "python"
}, {
    "id": 3,
    "name": "cristhian",
    "dev": "python"
}]

for x in data:
    print("{} uses {}".format(x["name"], x["dev"]))

mi nombre es cristhian y mi profesión es 35
mi nombre es cristhian y mi profesión es 35
mi nombre es cristhian y mi profesión es 35
cristhian uses python
cristhian uses python
cristhian uses python

In [ ]:
data = "helloworld"
print(data * 3)

helloworldhelloworldhelloworld

In [ ]:
data = "hello"
print(data[0])
print(len(data))
print(data[2:])
print(data[:2])
print(data[2:4])
print(data[-1])

h
5
llo
he
ll
o

In [ ]:
def multiply(x, y):
    return x * y

a = multiply(3, 2)
b = multiply(4, 3)

print(multiply(a, b))

72

In [ ]:
# teniendo la siguiente palabra
# porfavor imprime en una misma linea los 2 primero y 2 ultimos caracteres

word = "helloworld"

print(word[:3] + word[2:])

hellloworld

In [1]:
word="palabra"

#Crea una función que multiplique lo que envies
# por ejemplo multiply_word(texto,numero) => "hola",3 => "holaholahola"

def multiply_word(word, veces):
    return word * veces

# Ejemplo
resultado = multiply_word("hola", 4)
print(resultado)

holaholaholahola

In [2]:
# fizzbuzz
# haz un for de 1 hasta n
# si es divisible por 3 y 5 imprime fizzbuzz
# si es divisible por 3 imprime fizz
# si es divisible por 5 imprime buzz
# y para todo lo demas imprime el valor

n = 15

for x in range(1, n + 1):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
        print(x)

# Input: n = 15
# Output: "1","2","Fizz","4","Buzz","Fizz","7","8","Fizz","Buzz","11","Fizz","13","14","FizzBuzz"

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz